In [1]:
print(5)

5

In [2]:
def double_the_number(num):
    return num*2

print(double_the_number(1))

2

In [3]:
square_lambda = lambda num: num**2
square_lambda(45)

2025

In [1]:
import pandas as pd

df=pd.read_csv('transactions.csv',sep=',')
df.head(5)

   index                   City       Date  Card Type Exp Type Gender  Amount
0      0           Delhi, India  29-Oct-14       Gold    Bills      F   82475
1      1  Greater Mumbai, India  22-Aug-14   Platinum    Bills      F   32555
2      2       Bengaluru, India  27-Aug-14     Silver    Bills      F  101738
3      3  Greater Mumbai, India  12-Apr-14  Signature    Bills      F  123424
4      4       Bengaluru, India   5-May-15       Gold    Bills      F  171574

Mini Challenge - 1
Can you write a function square_root having default value of input a=9 and find the square-root of the same.

In [4]:
import math
def square_root(a=9):
    print( math.sqrt(a))

In [5]:
square_root()

3.0

In [6]:
square_root(2025)

45.0

Mini Challenge - 2
Can you write a function function_tuple that takes in two numbers a and b and returns the sum as well as the product of these numbers

In [7]:
def function_tuple(a,b):
    return a+b,a*b

In [8]:
print(function_tuple(3,4))

(7, 12)

In [11]:
x=lambda a,b: a+b

In [13]:
x(3,4)

7

Challenge: Create calculator

In [ ]:
class Calculator:
    operation_count=0

    def __init__(self,a=1,b=2):
        self.a=a
        self.b=b

    def add(self):
        Calculator.operation_count+=1
        return self.a+self.b
    
    def multiply(self):
        Calculator.operation_count+=1
        return self.a*self.b
    
    def get_numbers(self):
        return self.a,self.b
    
    def set_numbers(self,a,b):
        self.a=a
        self.b=b

In [29]:
c=Calculator()

In [30]:
c.add()

3

In [31]:
c.multiply()

2

In [32]:
c.get_numbers()

(1, 2)

In [33]:
c.set_numbers(10,20)

In [34]:
c.add()

30

In [35]:
print(c.operation_count)

3

In [1]:
num=4
def getsum(a,b):
    num=a+b
    return num
d=getsum(1,5)
print(d)
print(num)

6
4

In [2]:
def getsum3(*args):
    print(args,type(args))
    num=0
    for a in args:
        num=num+a
    return num
d=getsum3(1,2,3)
d

(1, 2, 3) <class 'tuple'>

6